<div class="flex flex-col gap-3">
  <dt-input-dropdown
    [header]="'BASIC_CARS.filters.year.header' | translate"
    [options]="[]"
    [disabled]="true"
  />
  <dt-input-dropdown
    [header]="'BASIC_CARS.filters.mainSerie.header' | translate"
    [options]="[]"
    [disabled]="true"
  />
  <dt-input-dropdown
    [header]="'BASIC_CARS.filters.exclusiveSerie.header' | translate"
    [options]="[]"
    [disabled]="true"
  />
  <dt-input-dropdown
    [header]="'BASIC_CARS.filters.userProperty.header' | translate"
    [options]="[]"
    [disabled]="true"
  />
</div>
