@let filters = filters$ | async;
@let groupedCars = groupedCars$ | async;

<dt-layout>
  <h1 title class="text-4xl text-center pt-4">Coches básicos</h1>
  <ng-container aside>
    @if (filtersLoading$ | async) {
      <basic-cars-filters-skeleton />
    } @else if (filters) {
      <form [formGroup]="payload" class="flex flex-col gap-3">
        <dt-input-dropdown
          formControlName="year"
          [header]="'BASIC_CARS.filters.year.header' | translate"
          [options]="filters.year"
          [allowNullable]="false"
        />
        <dt-input-dropdown
          formControlName="mainSerie"
          [header]="'BASIC_CARS.filters.mainSerie.header' | translate"
          [options]="filters.mainSerie"
        />
        <dt-input-dropdown
          formControlName="exclusiveSerie"
          [header]="'BASIC_CARS.filters.exclusiveSerie.header' | translate"
          [options]="filters.exclusiveSerie"
        />
        <dt-input-dropdown
          formControlName="userProperty"
          [header]="'BASIC_CARS.filters.userProperty.header' | translate"
          [options]="filters.userProperty"
        />
      </form>
      @if (carsCount$ | async; as carsCount) {
        {{ carsCount.carsOwned }} / {{ carsCount.carsShowed }}
      }
    }
  </ng-container>

  <ng-container mainContent>
    @if (carsLoading$ | async) {
      <basic-cars-cars-skeleton />
    } @else if (groupedCars) {
      @for (group of groupedCars | keyvalue; track $index) {
        <div class="py-2">
          <h3 class="text-2xl">{{ group.key }}</h3>
          <div class="divider my-1"></div>
          <div class="group">
            @for (car of group.value; track $index) {
              <dt-basic-car-card [car]="car" />
            }
          </div>
        </div>
      }
    }
  </ng-container>
</dt-layout>
