<h1 class="text-4xl text-center pt-4">Coches básicos</h1>
<div class="grid grid-cols-12 w-[85%] mx-auto pb-2 gap-6">
  @if (filters$ | async; as filters) {
  <aside class="col-span-2">
    <form [formGroup]="payload" class="flex flex-col">
      <dt-dropdown
        formControlName="year"
        header="year"
        [options]="filters.year"
        [allowNullable]="false"
      />
      <dt-dropdown
        formControlName="mainSerie"
        header="mainSerie"
        [options]="filters.mainSerie"
      />
      <dt-dropdown
        formControlName="exclusiveSerie"
        header="exclusiveSerie"
        [options]="filters.exclusiveSerie"
      />
      <dt-dropdown
        formControlName="userProperty"
        header="userProperty"
        [options]="filters.userProperty"
      />
    </form>
  </aside>
  } @if (groupedCars$ | async; as groupedCars) {
  <main class="col-span-10">
    @for(group of groupedCars | keyvalue; track $index){
    <div class="py-2">
      <h3 class="text-2xl">{{ group.key }}</h3>
      <div class="divider my-1"></div>
      <div class="group">
        @for(car of group.value; track $index) {
        <dt-basic-car-card [car]="car" />
        }
      </div>
    </div>
    }
  </main>
  }
</div>
