@if (type === 'button') {
<button
  [title]="title ?? header"
  class="rounded-md cursor-pointer flex items-center w-full gap-1 duration-200 text-white"
  [ngClass]="[
    'bg-' + buttonColor + '-400',
    'hover:bg-' + buttonColor + '-500',
    'active:bg-' + buttonColor + '-600'
  ]"
  [class]="buttonClass"
  (click)="onClick.emit()"
>
  @if (!!icon) {
  <svg-icon
    [src]="'assets/icons/' + icon + '.svg'"
    [svgStyle]="{ fill: iconFill }"
  ></svg-icon>
  } {{ header }}
</button>
} @else {
<div class="h-full flex items-center">
  <svg-icon
    [src]="'assets/icons/' + icon + '.svg'"
    [svgStyle]="{ fill: iconFill }"
  ></svg-icon>
</div>
}
