<div class="bg-white rounded-md p-6">
  <div class="w-full flex justify-end">
    <dt-button
      type="button"
      icon="close"
      buttonClass="p-1"
      buttonColor="transparent"
      headerClass="text-black"
      (onClick)="dialogRef.close()"
    />
  </div>

  <div class="w-fit mx-auto py-2">
    <h2
      class="text-center font-semibold text-xl px-2 rounded-md"
      [ngClass]="{
        'bg-green-600': car.hasCar,
        'bg-sky-600': car.wantsCar,
        'text-black': !car.hasCar && !car.wantsCar,
        'text-white': car.hasCar || car.wantsCar,
      }"
    >
      {{ car.model_name }}
    </h2>
  </div>

  <dt-image-overlay [src]="car.img" />

  <div class="grid grid-cols-2 py-2">
    <p class="px-2">
      <span class="font-semibold">
        {{ 'BASIC_CARS.modal.fields.car_id' | translate }}:
      </span>
      <span>
        {{ car.car_id }}
      </span>
    </p>
    <p class="px-2">
      <span class="font-semibold">
        {{ 'BASIC_CARS.modal.fields.col' | translate }}:
      </span>
      <span>
        {{ car.col }}
      </span>
    </p>
    <p class="px-2">
      <span class="font-semibold">
        {{ 'BASIC_CARS.modal.fields.series' | translate }}:
      </span>
      <span>
        {{ car.series }}
      </span>
    </p>
    <p class="px-2">
      <span class="font-semibold">
        {{ 'BASIC_CARS.modal.fields.col_serie' | translate }}:
      </span>
      <span>
        {{ car.col_serie }}
      </span>
    </p>
    <p class="px-2">
      <span class="font-semibold">
        {{ 'BASIC_CARS.modal.fields.year' | translate }}:
      </span>
      <span>
        {{ car.year }}
      </span>
    </p>
  </div>
  <div class="flex w-full justify-center gap-2">
    <dt-button
      type="button"
      icon="open-in-full"
      buttonClass="lg:p-2 md:p-1"
      buttonColor="yellow"
      header="Open"
      headerClass="text-black"
    />
    @if (!car.hasCar && !car.wantsCar) {
      <dt-request-button
        icon="favorite"
        buttonColor="sky"
        buttonClass="lg:p-2 md:p-1"
        endpoint="/api/basic-cars/add-car"
        header="Wishlist"
        headerClass="text-black"
        [body]="{
          carId: car.id,
          wantsCar: true,
        }"
        (onResponse)="onCarAction($event, car, 'wantsCar')"
      />
    }
    @if (!car.hasCar) {
      <dt-request-button
        icon="add"
        buttonColor="green"
        buttonClass="lg:p-2 md:p-1"
        endpoint="/api/basic-cars/add-car"
        header="Collection"
        headerClass="text-black"
        [body]="{
          carId: car.id,
          hasCar: true,
        }"
        (onResponse)="onCarAction($event, car, 'hasCar')"
      />
    }
    @if (car.hasCar || car.wantsCar) {
      <dt-request-button
        icon="delete"
        buttonColor="red"
        buttonClass="lg:p-2 md:p-1"
        endpoint="/api/basic-cars/delete-car"
        header="Remove"
        headerClass="text-black"
        [body]="{
          carId: car.id,
        }"
        (onResponse)="onCarAction($event, car, 'deleteCar')"
      />
    }
  </div>
</div>
