<header
  *transloco="let t"
  class="flex items-center justify-between w-full h-20 border-b-2 border-gray-200 px-4"
>
  <div class="flex items-center justify-center w-full gap-12">
    <div class="flex gap-4">
      <dc-button header="Básicos"></dc-button>
      <dc-button header="Especiales"></dc-button>
      <dc-button header="Premium"></dc-button>
    </div>

    <img
      alt="logo"
      src="assets/images/shared/logo.webp"
      class="w-28 cursor-pointer"
    />

    <input
      type="text"
      placeholder="search"
      class="h-10 border border-gray-300 rounded-md"
    />
  </div>

  <img
    alt="user"
    src="assets/images/shared/logo.webp"
    class="w-20 cursor-pointer"
  />
</header>
