::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: #858585;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #616161;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #353535;
  }
}
