<footer class="bg-gray-200 mt-28 py-8">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-3">
      <div class="flex items-center">
        <img
          alt="logo"
          class="w-14 cursor-pointer drop-shadow"
          src="assets/images/shared/logo.webp"
          [routerLink]="['/home']"
        />
        <a routerLink="/home" class="text-2xl font-bold text-gray-900">
          <span class="duration-200 hover:text-orange-500">
            {{ 'FOOTER.webName' | translate }}
          </span>
        </a>
      </div>
      <ul class="flex justify-center items-center gap-4">
        <li>
          <a
            routerLink="/about"
            class="duration-200 hover:text-orange-500 text-gray-900"
            >{{ 'FOOTER.navigation.about' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            class="duration-200 hover:text-orange-500 text-gray-900"
            >{{ 'FOOTER.navigation.contact' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/policies"
            class="duration-200 hover:text-orange-500 text-gray-900"
            >{{ 'FOOTER.navigation.policies' | translate }}
          </a>
        </li>
      </ul>
      <div class="flex justify-end w-full items-center gap-3">
        <dt-rrss-icon
          icon="discord-colored"
          [href]="DISCORD_LINK"
          [title]="'FOOTER.icons.discord.title' | translate"
        />
        <dt-rrss-icon
          icon="buy-me-a-coffee-colored"
          [href]="BUY_ME_A_COFFEE_LINK"
          [title]="'FOOTER.icons.buyMeACoffee.title' | translate"
        />
      </div>
    </div>
    <hr class="my-6 border-gray-700" />
    <div class="text-center">
      <p class="text-sm">&copy; {{ 'FOOTER.reservedRights' | translate }}</p>
    </div>
  </div>
</footer>
