input {
  &:not(:focus):not(:placeholder-shown):not(:valid).validation {
    border: 2px solid #ef4444;
  }
  &:focus + .labelline,
  &:not(:placeholder-shown) + .labelline {
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(15px, -14px) scale(0.75);
    z-index: 10;
  }
}
