<div class="w-full h-[38px]">
  <div class="relative h-[38px] leading-[38px]">
    <input
      [type]="type"
      [required]="required"
      [pattern]="pattern"
      placeholder
      (keydown.enter)="keydownEnter.emit()"
      (input)="onInput($event)"
      [ngClass]="{
        validation: !!pattern,
        'valid:border-2 valid:border-green-400': !!pattern
      }"
      class="absolute w-full outline-none pl-2.5 leading-[38px] border border-gray-400 rounded-md bg-transparent z-10 focus:border-2 focus:border-orange-400"
    />
    <label
      [class]="bgColorClass"
      class="labelline absolute ml-2.5 pl-2.5 duration-200"
    >
      {{ header }}
    </label>
  </div>
</div>
<!-- TODO <span class="pl-2.5 text-red-500 font-semibold">Error</span> -->
