@if (formVisible$ | async; as formVisible) {
<div class="w-full mt-20 flex flex-col justify-center items-center gap-2">
  @if (formVisible === 'login') {
  <span
    >No tienes una cuenta? Regístrate
    <span
      (click)="formVisible$.next('register')"
      class="underline text-sky-500 cursor-pointer"
      >aquí
    </span>
  </span>
  <form
    [formGroup]="loginForm"
    class="bg-gray-300 rounded-md p-3 flex flex-col w-80 gap-6"
  >
    <dt-input-text
      type="email"
      header="Email"
      formControlName="email"
      [required]="true"
      (keydownEnter)="sendForm.next()"
    />
    <dt-input-text
      type="password"
      header="Password"
      formControlName="password"
      [required]="true"
      (keydownEnter)="sendForm.next()"
    />
  </form>
  } @else {
  <span
    >Ya tienes una cuenta? Inicia sesión
    <span
      (click)="formVisible$.next('login')"
      class="underline text-sky-500 cursor-pointer"
      >aquí
    </span>
  </span>
  <form
    [formGroup]="registerForm"
    class="bg-gray-300 rounded-md p-3 flex flex-col w-80 gap-6"
  >
    <dt-input-text
      type="text"
      header="Username"
      formControlName="username"
      [required]="true"
      (keydownEnter)="sendForm.next()"
    />
    <dt-input-text
      type="email"
      header="Email"
      formControlName="email"
      [required]="true"
      (keydownEnter)="sendForm.next()"
    />
    <dt-input-text
      type="password"
      header="Password"
      formControlName="password"
      [required]="true"
      (keydownEnter)="sendForm.next()"
    />
  </form>
  }
  <dt-button
    type="button"
    header="Enviar"
    buttonClass="p-2"
    iconFill="#fff"
    [loading]="loading$ | async"
    (onClick)="sendForm.next()"
  />
</div>
}
